@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Split Check Font";
    src: url("./assets/fonts/SplitCheckFont-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: "Martian Mono";
    src: url("./assets/fonts/MartianMono-StdMd.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Martian Mono";
    src: url("./assets/fonts/MartianMono-StdBd.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }

  body {
    font-family: "Martian Mono", monospace;
    font-weight: 500;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }
}
